@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
}


.container{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}


.nav {
    background: #FFFFFF;
    width: 100%;
    height: 80px;
    position: absolute;
    padding: 23px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
}

a{
    text-decoration: none
}

.button{
    display: inherit;

}

.button1{
    padding: 8px 17px;
    width: 114px;
    height: 40px;
    box-sizing: border-box;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    margin: 4px;
}
.button2{
    box-sizing: border-box;
    padding: 8px 17px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #346170;
    border-radius: 4px;
    margin: 4px;

}

.background-img{
    width: 100%;
    height: 850px;
    background-image: url('./../img/Rectangle (1).svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header {
    width: 100%;
    margin: 0;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 70%;
}

.menu-list {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    height: 20px;
    top: 30px;
    color: #013A4C;

}
.text{
    left: 0%;
    right: 42.25%;
    top: 168px;
}
.Serenity{
    position: absolute;
    width: 106px;
    height: 30px;
    left: 229px;
    top: 214px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
}
span{
    color: #1B75BB;
}
.header__title {
    position: absolute;
    width: 510px;
    height: 78px;
    left: 144px;
    top: 290px;
    font-style: normal;
    right: 23.34%;
    font-weight: 400;
    font-size: 76px;
    line-height: 78px;
    /* identical to box height, or 103% */

    letter-spacing: 2px;

    color: #013A4C;
}

.header__text {
    position: absolute;
    width: 491px;
    height: 64px;
    left: 144px;
    top: 399px;

    right: 26.2%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;

    color: #013A4C;

}

.rectangle{
    position: absolute;
    width: 687px;
    height: 110px;
    left: 195px;
    top: 641px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
}

.button-1{

    padding: 15px 30px;
    position: absolute;
    height: 56px;
    left: 144px;
    top: 488px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
}
.button_text_1{
    position: static;
    width: 78px;
    height: 26px;
    left: 30px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #013A4C;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.button_text_2{
    color: #FFFFFF;
    text-align: center;
}


.button-2{
    box-sizing: border-box;
    padding: 15px 30px;
    background: #013A4C;
    border: 1px solid #013A4C;
    border-radius: 4px;
    left: 336px;
    top: 488px;
    position: absolute;
}

.button-3{
    height: 50px;
    width: 216px;
    radius: 4px;
    padding: 14px 21px 16px 21px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
}
.button_text_3{
    width: 174px;
    height: 20px;
    left: calc(50% - 174px/2);
    top: 14px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #013A4C;
}
.container-header-2{
    width: 100%;
    background: #013A4C;
    height: 288px;
    display: flex;
    justify-content: center;
}

.header2__text{
    height: 52px;
    left: calc(50% - 528px/2);
    top: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 80px;

    text-align: center;
    letter-spacing: 0.7px;

    color: #FFFFFF;
}

.menu-list-2{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.header-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.menu-li2{
    padding: 16px;
}

.container-header-3{
    width: 100%;
    background: #013A4C;
    height: 507px;
    display: flex;
    justify-content: space-between;
}

.header__title-2{
    width: 402px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */

    letter-spacing: 0.4px;

    color: #F2DCE4;
}

.header__text-2{
    height: 84px;
    left: 0%;
    right: 15.38%;
    top: 321.03px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    /* or 133% */


    color: #FFFFFF;
}

.text-2{

    width: 528px;
    margin: 0px 144px;
}
.img-9{
width: 501px;
height: 501px;
}

.container-header-4{
    height: 856px;
    background: #013A4C;
    display: flex;
    justify-content: center;
    padding: 128px;
}
.collaborate{
    height: 600px;
    width: 1152px;
    background: #D3E8F4;
    border-radius: 8px;
}

.collab-text{
    width: 100%;
    height: 478px;
    display: flex;
    justify-content: space-between;
}
.header__title-3{
    height: 80px;
    left: calc(50% - 351px/2 - 336.5px);
    top: 8.03px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    /* identical to box height, or 145% */

    letter-spacing: 0.7px;

    color: #013A4C;
}
.text-3{
    padding: 64px 91px 78px 96px;
}
.header__text-3{
    height: 56px;
    left: 0%;
    right: 5.38%;
    top: 51.03px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    /* or 133% */


    color: #013A4C;

}
.button-4{
    height: 40px;
    background: #D3E8F4;
    border: 1px solid #346170;
    border-radius: 4px;
    width: 113px;
    display: flex;
    align-items: center;
}
.menu-item-2{
    width: 100px;
    height: 18px;
    left: calc(50% - 79px/2);
    top: 11px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #013A4C;

}
.img-8{
    padding: 60px 0px 0px 0px;
}
.menu-list-3{
    height: 121px;
    padding: 30px;
    border-bottom: 1px solid #94B4C2
}
.menu-list_3{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.menu-list_4{
    padding: 56px 20px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    list-style-image: url(/img/Frame7.svg);

    color: #013A4C;

}

.img10{
    width: 100%;
    height: 100%;
}
.container-header-6{
    width: 100%;
    height: 2432px;

    background-image: url(./../img/Rectangle12.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-4{
    display: flex;
    justify-content: center;
    padding: 122px 0px 153px 0px;
}
.header__title-4{
    width: 830px;
    height: 240px;
    left: calc(50% - 830px/2);
    top: -5.56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    /* or 100% */

    text-align: center;
    letter-spacing: 0.7px;

    color: #013A4C;
}
.title-5{
    height: 54px;
    left: 0%;
    right: 54.81%;
    top: calc(50% - 54px/2 - 47.06px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    /* identical to box height, or 115% */

    letter-spacing: 0.4px;

    color: #013A4C;
}
.text-5{
    width: 520px;
    height: 72px;
    left: 0%;
    right: 0.69%;
    top: calc(50% - 72px/2 + 61.44px);

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #013A4C;
}

.inform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inform :first-child{
    align-self: stretch;
}

.container-header-7{
    width: 100%;
    height: 850px;
    background-image: url('./../img/Rectangle (13).svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.title-6{
    height: 78px;
    left: 0%;
    right: 6.21%;
    top: -5.56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 78px;
    /* identical to box height, or 107% */

    letter-spacing: 2px;

    color: #F2DCE4;
}

.text-6{
    height: 64px;
    left: 0%;
    right: 29.35%;
    top: 103.44px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    /* or 123% */

    letter-spacing: 0.5px;

    color: #FFFFFF;

}

.button-6{
    box-sizing: border-box;
    width: 114px;
    height: 40px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item-6{
    width: 80px;
    height: 18px;
    left: calc(50% - 80px/2);
    top: 11px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #013A4C;
}
.believe{
    padding:0 144px;
}

.inform-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 126px;
}